.footerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:30px 0px;
    margin-top: 20px;
}
.leftWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}
.headerWrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.firstWrapper{
    display: flex;
    flex-direction: column;
}
.logoImage{
    border-radius: 50%;
}
.header{
    font-size: 24px;
    font-weight: 600;
}
.subtitle{
    font-size: 15px;
    line-height: 20px;
    width: 600px;
}
.rightWrapper{
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
}
.head{
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}
.body{
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}

@media screen and (max-width:1030px) {
    .subtitle{
        font-size: 16px;
        line-height: 20px;
        width: 400px;
    }
}
@media screen  and (max-width: 770px){
    .footerWrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding:20px 0px;
        gap:30px;
    }
    .subtitle{
        font-size: 16px;
        line-height: 20px;
        width: 95%;
    }
    .rightWrapper{
        gap: 100px;
    }
}
@media screen and (max-width: 430px){
    .rightWrapper{
        gap: 60px;
    }
    .subtitle{
        font-size: 14px;
    }
}